In [1]:
import pandas as pd

In [6]:
import pylast
import os

from dotenv import dotenv_values

In [7]:
config = dotenv_values(".env")

.env file is in this format:

```txt
LFM_API_KEY=insert_lastfm_api_key_here
LFM_THIS_SHITS_FIRE=insert_lastfm_shared_secret_here
```

You get both of these by registering an application with Last.fm [here](https://www.last.fm/api).

In [8]:
API_KEY = config.get("LFM_API_KEY")
API_SECRET = config.get("LFM_THIS_SHITS_FIRE")

In [10]:
SESSION_KEY_FILE = os.path.join(os.path.expanduser("~"), ".session_key")
network = pylast.LastFMNetwork(API_KEY, API_SECRET)
if not os.path.exists(SESSION_KEY_FILE):
    skg = pylast.SessionKeyGenerator(network)
    url = skg.get_web_auth_url()

    print(f"Please authorize this script to access your account: {url}\n")
    import time
    import webbrowser

    webbrowser.open(url)

    while True:
        try:
            session_key = skg.get_web_auth_session_key(url)
            with open(SESSION_KEY_FILE, "w") as f:
                f.write(session_key)
            break
        except pylast.WSError:
            time.sleep(1)
else:
    session_key = open(SESSION_KEY_FILE).read()

network.session_key = session_key

In [2]:
lfm_df = pd.read_csv("../lfm-1711558550.csv")

In [12]:
lfm_df

,uts,utc_time,artist,artist_mbid,album,album_mbid,track,track_mbid
0,1711558550,"27 Mar 2024, 16:55",Magdalena Bay,68c261d5-48c8-4ea9-9466-9fc908dc79bb,Unconditional,ac6d9d2f-d19a-4801-a0de-859576216d08,Unconditional,72705e92-11db-4b24-b19b-6cf177b5a4ff
1,1711558281,"27 Mar 2024, 16:51",Magdalena Bay,68c261d5-48c8-4ea9-9466-9fc908dc79bb,All You Do,7f1b6c15-5d60-40d3-b9b7-cb0b5931cc54,All You Do,e6135f98-8fa8-4d4c-920a-1c59c0f8a4bb
2,1711558036,"27 Mar 2024, 16:47",Magdalena Bay,68c261d5-48c8-4ea9-9466-9fc908dc79bb,Mercurial World,0850f24e-32a1-4280-a78c-f427a62a24f1,Secrets (Your Fire),37090ca5-a224-4cda-a975-e2a3487cf1cb
3,1711557869,"27 Mar 2024, 16:44",Magdalena Bay,68c261d5-48c8-4ea9-9466-9fc908dc79bb,mini mix vol. 3,ed2e9bd1-6c53-42f4-b563-9e76fb80eb84,Top Dog,172d1bd7-8630-48ad-b0ab-08da1bcaa441
4,1711557621,"27 Mar 2024, 16:40",Magdalena Bay,68c261d5-48c8-4ea9-9466-9fc908dc79bb,A Little Rhythm and a Wicked Feeling,ba5bf46c-2a4e-4ac4-afe3-ab614330f1e7,Killshot,42070cda-6242-4985-94a8-90146b8a0b1d
...,...,...,...,...,...,...,...,...
93372,1483382458,"02 Jan 2017, 18:40",Mac Miller,a0e8a1b1-5f8f-475a-a253-17415c17d0ff,Blue Slide Park (Commentary Version),NaN,Smile Back,c0125dbe-a95b-43e0-98a1-83a7a0a33be9
93373,1483382201,"02 Jan 2017, 18:36",Mac Miller,a0e8a1b1-5f8f-475a-a253-17415c17d0ff,Live From Space,dee46bb1-a40f-4208-8bcc-a8c31a67adbc,Earth (feat. Future),NaN
93374,1483382010,"02 Jan 2017, 18:33",Mac Miller,a0e8a1b1-5f8f-475a-a253-17415c17d0ff,Live From Space,dee46bb1-a40f-4208-8bcc-a8c31a67adbc,Black Bush,cd982188-80dc-4a52-96d6-e72dcdd15369
93375,1483381732,"02 Jan 2017, 18:28",Mac Miller,a0e8a1b1-5f8f-475a-a253-17415c17d0ff,GO:OD AM,5974fd75-ff80-449e-8a80-98ce2ed59e5f,The Festival (feat. Little Dragon),NaN
93376,1483381051,"02 Jan 2017, 18:17",Mac Miller,a0e8a1b1-5f8f-475a-a253-17415c17d0ff,The Divine Feminine,a98fb1a5-6eb4-4ab8-a004-b446e8da4cfe,Congratulations (feat. Bilal),NaN

In [ ]:
unconditional = network.get_track_by_mbid("72705e92-11db-4b24-b19b-6cf177b5a4ff") #DOES NOT WORK

In [ ]:
secrets = network.get_track_by_mbid("37090ca5-a224-4cda-a975-e2a3487cf1cb") # DOES NOT WORK

In [49]:
unconditional_but_working = network.get_track(artist="Magdalena Bay", title="Unconditional") # WORKS?????????????

In [50]:
unconditional_but_working

pylast.Track('Magdalena Bay', 'Unconditional', pylast.LastFMNetwork('8b1f7302a02d447bb3c850cd045f1648', '84ddd932c36dc5860c7ffefdab2e795d', 'lPf_m1LVP3spsQ2P-7SBEpD8mXSDFjRh', '', ''))

In [53]:
the_genre = unconditional_but_working.get_top_tags(limit=1)[0].item.get_name()

In [54]:
type(the_genre)

str

In [52]:
network.get_track(artist="Magdalena Bay", title="Unconditional").get_top_tags(limit=1)[0].item.get_name()

'synthpop'

In [33]:
unique_tracks = lfm_df.groupby(['artist','track']).size().reset_index().rename(columns={0:'count'})

In [34]:
unique_tracks

                    artist                      track  count
0      "Weird Al" Yankovic                I'll Sue Ya      1
1             'Til Tuesday               Voices Carry      8
2             'Til Tuesday  Voices Carry - Single Mix      2
3                 (G)I-DLE                        $$$     29
4                 (G)I-DLE                    ALREADY      2
...                    ...                        ...    ...
18491        이달의 소녀 오드아이써클                    Chaotic      1
18492        이달의 소녀 오드아이써클                 Girl Front      1
18493        이달의 소녀 오드아이써클                   LOONATIC      1
18494        이달의 소녀 오드아이써클                  Starlight      1
18495                   태양   눈,코,입 (EYES, NOSE, LIPS)      1

[18496 rows x 3 columns]

In [43]:
unique_tracks1 = unique_tracks[:4624].copy()
unique_tracks2 = unique_tracks[4624:9248].copy()
unique_tracks3 = unique_tracks[9248:13872].copy()
unique_tracks4 = unique_tracks[13872:].copy()

In [62]:
from pylast import NetworkError, WSError

In [55]:
def top_tag(row) -> str | None:
    try:
        return network.get_track(artist=row["artist"], title=row["track"]).get_top_tags(limit=1)[0].item.get_name()
    except:
        return None

In [56]:
unique_tracks1["genre"] = unique_tracks1.apply(top_tag, axis=1)

In [57]:
unique_tracks1

                   artist                             track  count       genre
0     "Weird Al" Yankovic                       I'll Sue Ya      1      comedy
1            'Til Tuesday                      Voices Carry      8         80s
2            'Til Tuesday         Voices Carry - Single Mix      2        None
3                (G)I-DLE                               $$$     29       k-pop
4                (G)I-DLE                           ALREADY      2     Awesome
...                   ...                               ...    ...         ...
4619         Flying Lotus                      Table Tennis      1  electronic
4620         Flying Lotus                           Takashi      2  electronic
4621         Flying Lotus                             Tesla      1        jazz
4622         Flying Lotus    Tesla - Original Album Version      1        None
4623         Flying Lotus  The Boys Who Died In Their Sleep      1  electronic

[4624 rows x 4 columns]

In [58]:
lfm_df["artist"].nunique()

5500

In [59]:
unique_artists = lfm_df.groupby('artist').size().reset_index().rename(columns={0:'count'})

In [60]:
unique_artists

                   artist  count
0     "Weird Al" Yankovic      1
1            'Til Tuesday     10
2                (G)I-DLE   1725
3             (K)NoW_NAME      1
4                (sic)boy      2
...                   ...    ...
5495                 여자친구      2
5496                  우리집      1
5497               이달의 소녀      1
5498        이달의 소녀 오드아이써클      4
5499                   태양      1

[5500 rows x 2 columns]

In [70]:
network.get_artist("Magdalena Bay").get_top_tags(limit=1)[0].item.get_name()

'synthpop'

In [74]:
def artist_top_tag(row):
    try:
        return network.get_artist(artist_name=row["artist"]).get_top_tags(limit=1)[0].item.get_name()
    except WSError as e:
        if e.get_id() in [29, 26]:
            raise e
        else: 
            return None
    except:
        return None

In [72]:
from tqdm import tqdm

In [65]:
tqdm.pandas()

In [75]:
unique_artists["genre"] = unique_artists.progress_apply(artist_top_tag, axis=1)

100%|██████████| 5500/5500 [28:38<00:00,  3.20it/s]

In [77]:
unique_artists.to_csv("../artist_genre.csv")